<!DOCTYPE html>
<html>
<head>
	<title>Page Not Found</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid" style=" position:fixed;
    top: 30%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    text-align:center;" >
            <h1 style="font-size:10em; color: #E4332A;">404</h1>
            <h1>This page does not exist.</h1>
  </div>
</body>
</html>
